{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">
    <f:if condition="{recipients}">
        <f:then>
            <table class="neos-table">
                <thead>
                <tr>
                    <td>{f:translate(id: 'content.namelabel', package: 'DirectMail.Newsletter', source: 'Main')}</td>
                    <td>{f:translate(id: 'content.emaillabel', package: 'DirectMail.Newsletter', source: 'Main')}</td>
                    <td>{f:translate(id: 'content.salutationlabel', package: 'DirectMail.Newsletter', source: 'Main')}</td>
                    <td>{f:translate(id: 'content.categorylabel', package: 'DirectMail.Newsletter', source: 'Main')}</td>
                    <td>Status</td>
                    <td>&nbsp;</td>
                </tr>
                </thead>
                <tbody>
                <f:for each="{recipients}" as="recipient">
                    <tr>
                        <td>{recipient.firstname} {recipient.lastname}</td>
                        <td>{recipient.email}</td>
                        <td>
                            <f:if condition="{recipient.gender}==1">
                                <f:then>Herr</f:then><f:else></f:else>
                            </f:if>
                            <f:if condition="{recipient.gender}==2">
                                <f:then>Frau</f:then><f:else></f:else>
                            </f:if>
                            <f:if condition="{recipient.gender}==3">
                                <f:then>Familie</f:then><f:else></f:else>
                            </f:if>
                        <td>
                        <f:for each="{categories}" as="category">
                            <f:if condition="{recipient.category}==<f:format.identifier>{category}</f:format.identifier>">{category.name}</f:if>
                        </f:for>
                        </td>
                        <td>
                            <f:if condition="{recipient.deleted}==0">
                                <f:then>
                                    {f:translate(id: 'content.activelabel', package: 'DirectMail.Newsletter', source: 'Main')}
                                </f:then>
                                <f:else>
                                    {f:translate(id: 'content.inactivelabel', package: 'DirectMail.Newsletter', source: 'Main')}
                                </f:else>
                            </f:if>
                        </td>
                        <td class="neos-action">
                            <div class="neos-pull-right">
                                <f:if condition="{recipient.deleted}==1">
                                    <f:then>
                                        <f:form action="activate" arguments="{recipient: recipient}">
                                            <button type="submit" class="neos-button neos-button-danger"><i class="icon-ok"></i></button>
                                        </f:form>
                                    </f:then>
                                    <f:else>
                                        <f:form action="hide" arguments="{recipient: recipient}">
                                            <f:link.action class="neos-button neos-button-primary" action="edit" arguments="{recipient: recipient}"><i class="icon-pencil icon-white"></i></f:link.action>
                                            <button type="submit" class="neos-button neos-button-danger"><i class="icon-ban-circle"></i></button>
                                        </f:form>
                                    </f:else>
                                </f:if>
                            </div>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </f:then>
        <f:else>
            <br />{f:translate(id: 'content.norecipientslabel', package: 'DirectMail.Newsletter', source: 'Main')}
        </f:else>
    </f:if>
    <div class="neos-footer">
        <f:link.action class="neos-button neos-button-primary" action="new">{f:translate(id: 'content.newrecipientslabel', package: 'DirectMail.Newsletter', source: 'Main')}</f:link.action>
        <f:link.action class="neos-button neos-button-primary" action="import">{f:translate(id: 'content.importrecipientslabel', package: 'DirectMail.Newsletter', source: 'Main')}</f:link.action>
    </div>
</f:section>