{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<f:layout name="Default" />
<f:section name="Content">
    <f:if condition="{error}==1">
        {f:translate(id: 'content.unsubscribeerror', package: 'DirectMail.Newsletter', source: 'NodeTypes/Subscribe')}
    </f:if>
    <div class="form">
    <f:form action="delete" objectName="recipient">
        <ol>
            <li class="input">
                <label for="email">{f:translate(id: 'content.email', package: 'DirectMail.Newsletter', source: 'NodeTypes/Subscribe')}</label>
                <f:form.textfield name="email" id="email" />
            </li>
            <li>
                <f:form.submit class="btn" value="{f:translate(id: 'content.unsubscribebutton', package: 'DirectMail.Newsletter', source: 'NodeTypes/Unsubscribe')}" />
            </li>
        </ol>
    </f:form>
    </div>
</f:section>