<style>
    html, body, div, header, main, footer, section, nav, span, p, a, h1, h2, h3, figure { margin:0; padding:0; }
    body { font-family: Arial, Helvetica, sans-serif; line-height:normal; }

    hr { float:left; width:100%; border:0; border-top:1px solid #CCC; margin-top:2em; margin-bottom:2em; }

    .neos-contentcollection, .neos-nodetypes-twocolumn, .neos-nodetypes-threecolumn, .neos-nodetypes-fourcolumn, .neos-nodetypes-textwithimage, .neos-nodetypes-image, .neos-nodetypes-headline, .neos-nodetypes-text { display:block; width:100%; margin:0; padding:0; }

    .container { float:left; width:100%; }
    .column { float: left; width: 25%; }
    .columns-50-50 .column { width: 50%; }
    .columns-75-25 .column:nth-child(1), .columns-25-75 .column:nth-child(2) { width: 75%; }
    .columns-75-25 .column:nth-child(2), .columns-25-75 .column:nth-child(1) { width: 25%; }
    .columns-66-33 .column:nth-child(1), .columns-33-66 .column:nth-child(2) { width: 66%; }
    .columns-66-33 .column:nth-child(2), .columns-33-66 .column:nth-child(1) { width: 33%; }
    .columns-50-25-25 .column:nth-child(1), .columns-25-50-25 .column:nth-child(2), .columns-25-25-50 .column:nth-child(3) { width: 50%; }
    .columns-50-25-25 .column:nth-child(2), .columns-50-25-25 .column:nth-child(3), .columns-25-50-25 .column:nth-child(1), .columns-25-50-25 .column:nth-child(3), .columns-25-25-50 .column:nth-child(1), .columns-25-25-50 .column:nth-child(2) { width: 25%; }

    .centerTextVertical .column:nth-child(1), .centerTextVertical .column:nth-child(2), .centerTextVertical .column:nth-child(3), .centerTextVertical .column:nth-child(4) { padding-left:0; padding-right:0; }
    .centerTextVertical .column p, .centerTextVertical .column h1, .centerTextVertical .column h2, .centerTextVertical .column h3 { padding-left:20px; }

    .typo3-neos-alignment-left { float:left; display: table; }
    .typo3-neos-alignment-right { float:right; display: table; }
    .typo3-neos-alignment-center { float:none; margin:0 auto; text-align:center; display: table; }

    .typo3-neos-alignment-left img { margin-right:1em; display: table-row;; }
    .typo3-neos-alignment-right img { margin-left:1em; display: table-row; }
    .typo3-neos-alignment-center img { margin:0; display: table-row; }

    .typo3-neos-alignment-left figcaption, .neos-alignment-right figcaption, .neos-alignment-center figcaption { display: table-caption; caption-side: bottom ; margin-top:0.5em; }
    .typo3-neos-alignment-left figcaption { margin-right:1em; }
    .typo3-neos-alignment-right figcaption { margin-left:1em; }
    .typo3-neos-alignment-center figcaption { margin:0; }

    table { border-collapse: collapse; border-spacing: 0; width:100%; height:100%; margin:0; padding:0; }
    table td { border:1px solid #CCC; padding:0.5em; }
</style>
