{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">
    <f:if condition="{queues}">
        <f:then>
            <table class="neos-table">
                <thead>
                <tr>
                    <td>{f:translate(id: 'content.page', package: 'DirectMail.Newsletter', source: 'Main')}</td>
                    <td>{f:translate(id: 'content.url', package: 'DirectMail.Newsletter', source: 'Main')}</td>
                    <td>{f:translate(id: 'content.shipping', package: 'DirectMail.Newsletter', source: 'Main')}</td>
                    <td>{f:translate(id: 'content.status', package: 'DirectMail.Newsletter', source: 'Main')}</td>
                    <td>&nbsp;</td>
                </tr>
                </thead>
                <tbody>
                <f:for each="{queues}" as="queue">
                    <tr>
                        <td>{queue.title}</td>
                        <td>{queue.pageurl}</td>
                        <td>{queue.posted}</td>
                        <td>
                            <f:if condition="{queue.quantity}=={queue.posted}">
                                <f:then>
                                    {f:translate(id: 'content.finish', package: 'DirectMail.Newsletter', source: 'Main')}
                                </f:then>
                                <f:else>
                                    {f:translate(id: 'content.pending', package: 'DirectMail.Newsletter', source: 'Main')}
                                </f:else>
                            </f:if>
                        </td>
                        <td class="neos-action">
                            <div class="neos-pull-right">
                                <f:if condition="{queue.quantity}=={queue.posted}">
                                    <f:then>

                                    </f:then>
                                    <f:else>
                                        <f:form action="delete" arguments="{queue: queue}">
                                            <button type="submit" class="neos-button neos-button-danger"><i class="icon-remove"></i></button>
                                        </f:form>
                                    </f:else>
                                </f:if>
                            </div>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
            <div class="neos-footer">
                <f:link.action class="neos-button neos-button-primary" action="cleanup" controller="queue">{f:translate(id: 'content.deletequeue', package: 'DirectMail.Newsletter', source: 'Main')}</f:link.action>
            </div>
        </f:then>
        <f:else>
            {f:translate(id: 'content.queueempty', package: 'DirectMail.Newsletter', source: 'Main')}
        </f:else>
    </f:if>
</f:section>