<f:layout name="Default" />

<f:section name="Title">Neue Kategorie</f:section>

<f:section name="Content">
    <br />
    <f:form action="create" objectName="newCategory" controller="Category">
        <div class="neos-content neos-container-fluid">

            <div class="neos-control-group">
                <label for="name">{f:translate(id: 'content.categorylabel', package: 'DirectMail.Newsletter', source: 'Main')}</label>
                <f:form.textfield property="name" id="name" />
            </div>

            <f:form.hidden property="deleted" value="0" />
        </div>

        <div class="neos-footer">
            <f:form.submit class="neos-button neos-button-primary" value="{f:translate(id: 'content.savenew', package: 'DirectMail.Newsletter', source: 'Main')}" />
        </div>
    </f:form>
</f:section>